
/* -------------------------------------------------------
Variable font.
Usage:

  html { font-family: "Inter", sans-serif; }
  @supports (font-variation-settings: normal) {
    html { font-family: "Inter var", sans-serif; }
  }
*/
@import url(https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap);

@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-style: normal;
  font-named-instance: "Regular";
  font-display: swap;
  src: url("/font-files/Inter-roman.var.woff2") format("woff2");
}
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-style: italic;
  font-named-instance: 'Italic';
  font-display: swap;
  src: url("/font-files/Inter-italic.var.woff2") format("woff2");
}

.fade-in {
  animation: fadein 1s;
}
.fade-in-longer {
  animation: fadein 4s;
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

.dark-flower {
  -webkit-mask-image: radial-gradient(circle at 50% 60%, black 50%, rgba(0, 0, 0, 0.6) 50%);
  mask-image: radial-gradient(circle at 50% 60%, black 50%, rgba(0, 0, 0, 0.6) 50%);
}

@tailwind base;
@tailwind components;

.title {
  @apply text-5xl text-center;
  color: #333;
  line-height: 1.15;
}

ion-icon {
  font-size: 1.5rem;
}

@tailwind utilities;